*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  pointer-events: auto;
}

:root {
  --header: #4c4c57;
  --font-title: #4c4c57;
  --font-text: #8b80f9;
  --background: #d5def0;
}

main {
  margin-top: 5rem;
  flex: 1 1;
}
